<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

<!--    <typeAliases>-->
<!--        <package name="com.kiwoom.lms.common.form"/>-->
<!--    </typeAliases>-->


<!--    <mappers>-->
<!--        <package name="com.kiwoom.lms.dao"/>-->
<!--    </mappers>-->
</configuration>
